@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.box{
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    width: 72px;
    height: 72px;
    border: 2px solid black;
    color: black;
    background-color: white;
    margin-top: 30px;
    align-items: center;
    display: flex;
    justify-content: center;

}
p{
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;

}
.box:hover{
    cursor: pointer;
}
.bar{
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    display: flex;
    gap: 30px;
}

.box.selected {
    background-color: black;
    color: white; /* Optional: change text color for contrast */
  }