@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.ruleblock{
    /* background-color: red; */
    /* width: 794px;
    /* height: 208px;
    margin: 30px; */ 
    justify-content: center;
    align-items: center;
    display: flex;
    

}

.rulebook{
    margin-top: 90px;
    background-color:rgb(206, 206, 206);
    width: 790px;
    height: 200px;
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 10px;
    border-radius: 10px;
    padding: 20px;
    
    
}
.button1{
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 10px;
    border-radius: 5px;
    height: 10px;
    width: 10px;
    background-color: red;
    

}